// Surcharge des variables Bootstrap avec la palette imposée
$primary: #0074c7;
$secondary: #384050;
$success: #82b864;
$danger: #cd2c2e;
$light: #f1f8fc;
$dark: #00497c;

// Import de Bootstrap (utilise nos variables ci-dessus)
@import "../../../node_modules/bootstrap/scss/bootstrap";
